{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

			{% block sidebar %}
					<nav class="align-items-center navbar navbar-expand-lg row p-3 px-md-4 navbar-dark bg-dark ">
						<div class="col-6">
            <a class="navbar-brand " href="{{path('home_page')}}">
							<img src="/assets/Img/symfony.png" width="30" height="30" class="d-inline-block align-top " alt="">
							Symfony Site
						</a>
            </div>
            <div class="col-6" style="text-align: right;">
                        	{% if app.user == none %}
									<a class="btn btn-outline-primary my-2 my-sm-0" href="{{path('login')}} ">Login</a>
								</div>				
							{% endif %}
					</div>
        	    </nav>
			{% endblock %}

{% block body %}

<div class="container col-md-4 py-4 text-center">
   

  <form name="registration_form" class="contact-form" method="post">
     <h1 class="py-2 text-info">Cadastro</h1>
     <div class=" row">
        
        <div class="form-outline mb-2 col-md-12"><label for="registration_form_email" class="required form-label ">Email</label>
        <input type="text" id="registration_form_email" name="registration_form[email]" required="required" maxlength="180"></div>
        
        <div class="form-outline mb-2 col-md-12 "><label for="registration_form_plainPassword" class="required form-label">Senha</label>
        <input type="password" id="registration_form_plainPassword" name="registration_form[plainPassword]" required="required" autocomplete="new-password"></div>
        
        <div class=" align-items-center py-4"><label for="registration_form_agreeTerms" class="required">Aceitar os Termos</label>
        <input type="checkbox" id="registration_form_agreeTerms" name="registration_form[agreeTerms]"class="m-2" required="required" value="1"></div>
        
    </div>

        <button type="submit" class="btn login_submit text-white">Register</button>
    <input type="hidden" id="registration_form__token" name="registration_form[_token]" value="74c37e34113.ao1JImIdD75-uMwvcjVC5D00iL-OeCZ6hmD3rsYWErA.PPQIRBtCdeYvzKRZNUcOyXEM0Om2IXAu7BSe6olZX9oo3id0E2t8-RrM-A"></form>
</div>


{% endblock %}
